body{
    background-color: rgb(25, 41, 41);
}

.contact{
    background-color: rgba(161, 186, 186, 0.542);
    max-width: 30%;
    min-height: 300px;
    height: 700px;
    border-radius: 20px;
    margin: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.contact:hover{
    box-shadow: 0 0 15px 5px rgba(145, 219, 219, 0.542);
    cursor: pointer;
}


img{
    padding-left: 100px;
    margin-top: 30px;
    height: 300px;
}

h1{
    display: flex;
    justify-content: center;   
}

b{
    font-size: 20px;
}

.description{
    display: flex;
    justify-content: center;
}

p{
    padding-left: 30px;
    padding-right: 30px;
}

.card{
    background-color: rgba(134, 93, 150, 0.696);
    height: auto;
    width: 20%;
    min-height: 180px;
    border-radius: 1rem;
    transition: box-shadow 0.3s ease-in-out;
}

.card:hover{
    box-shadow: 0 0 25px 5px rgba(8, 229, 229, 0.542);
    cursor: pointer;
}

h3{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 25px
}

.name{
    font-size: 18px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    max-width: 60%;
    
    justify-content: space-evenly;
    gap: 30px;
}

.wrapper {
    display: flex;  /* Вирівнює контейнери в один рядок */
    align-items: flex-start;  /* Вирівнює по верхньому краю */
    gap: 50px; /* Відстань між лівим блоком та картками */
    padding: 30px; /* Додає відступи */
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column; /* Вирівнює елементи у стовпчик */
        align-items: center; /* Вирівнює по центру */
        width: 100%;
    }
    .contact, .card {
        width: 90%; /* Розтягує на всю ширину */
    }
}
